apiVersion: v1
kind: Secret
metadata:
  name: nexrl-redis-secret
  namespace: {{NAMESPACE}}
type: Opaque
stringData:
  REDIS_HOST: "{{REDIS_HOST}}"
  REDIS_PORT: "{{REDIS_PORT}}"
  REDIS_USERNAME: "{{REDIS_USERNAME}}"
  REDIS_PASSWORD: "{{REDIS_PASSWORD}}"
