apiVersion: v1
kind: Secret
metadata:
  name: nexrl-wandb-{{USER_ID}}
  namespace: {{NAMESPACE}}
  labels:
    app: nexrl
    config-type: user-settings
    user-id: "{{USER_ID}}"
type: Opaque
stringData:
  api_key: "{{API_KEY}}"
  enabled: "{{ENABLED}}"
  host: "{{HOST}}"
